<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-0 mt-0">
  <!-- Call to action -->
  <!-- <div class="shadow-lg p-3 py-5 mb-3 bg-white rounded py-0">
    <h1 class="text-center my-5">Contact US</h1>
     <ul class="list-unstyled list-inline text-center ml-0 py-2">
       <li class="list-inline-item pull-left pl-5">
         <h5 class="mb-1">Register for free</h5>
       </li>
       <li class="list-inline-item pull-left"><input type="text" placeholder="Enter Your Email" class="form-control px-5"></li>
      <li class="list-inline-item pull-left">
        <a href="#!" class="btn btn-danger btn-rounded">Send</a>
      </li>
     </ul>
  </div> -->
  <!-- Call to action -->
  <!-- Social buttons -->
  <div class="bgPrimary mt-5 pt-5 text-light">
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item m-2 px-2 py-1">
      <a class=" btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item m-2 p-1">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item m-2 p-1">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item m-2 p-1">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item m-2 p-1">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pt-0 pb-3">© Copyright 2018.
     All rights reserved by Corporate Smart Services, powered by
    <a class="text-light" style="text-decoration: underline;" href="http://www.zikrabyte.com/" target="_blank">ZikraByte Solutions</a>
  </div>
</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- Footer -->


