
<section id="servicesSection" style="padding-top:5.5rem;"lass="py-5">
    <div class="container">
      <div class="text-center">
        <h2 class="text-center lead" style="font-weight:200; font-size:2.5rem;">What we give to you?</h2>
        <p class="lead">We offer almost all services available from a to z, our services are as follow </p>
      </div>
    </div>
  </section>



<section style="padding-bottom: 100px; padding-bottom: 2%;" id="serviceSection">


  <div class="container">
   
      <div id="row1" class="row mb-4">
        <div class="mb-4 mt-md-5 d-flex flex-wrap"> 

          <div id="serv" class="mb-md-5 port col-md-6 col-lg-6 d-flex box-shadow p-2">
              <div id="serviceImage" class="mt-sm-5 mt-md-4 col-md-4 col-lg-4 images">
                <img src="../../assets/images/real estate 1 .png" alt="services image 2">
              </div>
              <div class="col-md-8 col-lg-8 text"> 
                <h4 class="text-primary lead">Real Estate</h4>
                <div>

                    <input type="checkbox" class="read-more-state" id="post-realEstate" />
      
                    <p class="read-more-wrap">
                        We help you in finding and resolving problems,
                         if you are in search of a house, apartment, 
                         villa or flat either for rent or to buy /sell. 
                         We assist you directly or indirectly, 
      
                      <span class="read-more-target">
                          but we are very strict in quality in which we safeguard the 
                          interests of customers.
                      </span>  
      
                    </p>
                    <label for="post-realEstate" class="read-more-trigger"></label>
                </div>
              </div>
          </div>

          <div id="servo" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
              <div id="serviceImage" class="mt-xs-5 mt-sm-5 mt-md-3 col-md-4 col-lg-4 images">
                <img class="mt-sm-3" src="../../assets/images/travel and toursim 1 .png" alt="services image 3">
              </div>
              <div class="col-md-8 col-lg-8 text">
                  <h4 class="text-primary lead">Travel And Tourism</h4>
                  <p >We support you to plan an ideal trip both inbound and 
                      outbound at the lowest prices. We assist you directly or 
                      indirectly, but we assure you that it would touch your mind.
                  </p>
              </div>
          </div>

         

      </div>
    </div>
<!-- 1st Row End -->






<!-- 2nd Row Start -->


<div class="row mb-4">
 
  <div class="mb-4 d-flex flex-row-md flex-wrap"> 
   
    

    <div id="serv" class="mb-lg-5 col-md-6 col-lg-6 d-flex box-shadow p-2">
      <div id="serviceImage" class="mt-md-4 col-md-4 col-lg-4 images">
        <img src="../../assets/images/event management.png" alt="services image 4">
      </div>
      <div class="col-md-8 col-lg-8 text">
          <h4 class="text-primary lead">Event Management</h4>
          
          
          <div>

              <input type="checkbox" class="read-more-state" id="post-event" />

              <p class="read-more-wrap" style="display: inline;">
                  We organize and plan mind blowing events onshore and 
                  offshore in an extraordinary and memorable pattern. 
                  We extend you our support directly or indirectly

                <span class="read-more-target">
                    and we assure you that it would gain maximum attention from your guests/buddies.
                </span>  

              </p>
              <label for="post-event" class="read-more-trigger"></label>
          </div>


      </div>  
    </div>




    <div id="servo" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
              <div id="serviceImage" class="mt-md-4 col-md-4 col-lg-4 images">
                <img src="../../assets/images/health and medical.png" alt="services image 2">
              </div>
              <div class="col-md-8 col-lg-8 text"> 
                <h4 class="text-primary lead">Health & Medication</h4>
                <div>

                    <input type="checkbox" class="read-more-state" id="post-1-health" />

                    <p class="read-more-wrap">
                        We guide in finding a good doctor or 
                        practitioner who stands for the service 
                        consultation and is not connected to any 
                        hospital chains but who is very  

                      <span class="read-more-target">
                          true in advising medications to the proper note or who is ready 
                          to give you a good remedy for your betterment.
                      </span>  

                    </p>
                    <label for="post-1-health" class="read-more-trigger"></label>
                </div>  
              </div>
    </div>
  </div>

</div>
<!-- 2nd Row End -->









<!-- 2nd Row Start -->


    <div class="row mb-4">
        <div class="mb-4 d-flex flex-row-lg flex-wrap"> 
              <div id="serv" class="mb-lg-5 col-md-6 col-lg-6 d-flex box-shadow p-2">
                    <div id="serviceImage" class="mt-md-4 col-md-4 col-lg-4 images">
                      <img src="../../assets/images/food and safety1 .png" alt="services image 3">
                    </div>
                    <div class="col-md-8 col-lg-8 text">
                      <h4 class="text-primary lead">Food and Safety </h4>
                      <p>We help you in choosing the best quality Food and Healthcare products to consume in your day-to-day life. We extend you our support directly or indirectly and we are very strict in quality.</p>
                    </div>
              </div>
              <div id="serv" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
                    <div id="serviceImage" class="mt-md-4 col-md-4 col-lg-4 images">
                        <img src="../../assets/images/education and career (1).png" alt="services image 4">
                    </div>
                    <div class="col-md-8 col-lg-8 text">
                        <h4 class="text-primary lead">Education and Careers</h4>
                       

                        <div>

                            <input type="checkbox" class="read-more-state" id="post-1-education" />
        
                            <p class="read-more-wrap">
                               We help you in choosing the right career 
                               programs, if you are planning to go for 
                               higher studies or to educate your children 
                               in colleges or institutes or schools 
        
                              <span class="read-more-target">
                                  across and abroad.
                                  We assist you directly or indirectly, but we 
                                  serve you with excellence in which we safeguard 
                                  the interests of customers.
                              </span>  
        
                            </p>
                            <label for="post-1-education" class="read-more-trigger"></label>
                        </div>  



                    </div>  
              </div>
 
        </div>
        
     </div>
<!-- 2nd Row End -->


<!-- 3rd row start -->

     <div class="row mb-4">
      <div class="mb-4 d-flex flex-row-lg flex-wrap"> 
            <div id="serv" class="mb-lg-5 col-md-6 col-lg-6 d-flex box-shadow p-2">
                  <div id="serviceImage" class="mt-md-3 col-md-4 col-lg-4 images">
                    <img src="../../assets/images/research and development.png" alt="services image 2">
                  </div>
                  <div class="col-md-8 col-lg-8 text"> 
                    <h4 class="text-primary lead">Research and Development</h4>
                    <p>We help you in connecting to R & D companies, institutions or departments which ever you wish to get connected to, by analysing your need for the same.</p>
                  </div>
            </div>
            <div id="servo" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
                  <div id="serviceImage" class="col-md-4 col-lg-4 images">
                    <img src="../../assets/images/information and techology.png" alt="services image 3">
                  </div>
                  <div class="col-md-8 col-lg-8 text">
                    <h4 class="text-primary lead">Information Technology</h4>
                    <p>We offer you complete IT services and a quality custom designed software that can turn your every vision into reality. We assist you directly or indirectly, but one thing we assure is steady maintenance and support.</p>
                  </div>
            </div>
            

      </div>
      
   </div>
   <!-- 3rd Row End -->


<!-- -->
<div class="row mb-4">
  <div class="mb-4 d-flex flex-row-lg flex-wrap"> 
        
          <div id="serv" class="mb-lg-5 col-md-6 col-lg-6 d-flex box-shadow p-2">
              <div id="serviceImage" class="mt-lg-4 col-md-4 col-lg-4 images">
                  <img src="../../assets/images/counseling and meditation.png" alt="services image 4">
              </div>
              <div class="col-md-8 col-lg-8 text">
                  <h4 class="text-primary lead">Counseling and Meditation</h4>
                  
                  <div>
                      <input type="checkbox" class="read-more-state" id="post-1-medi"/>
                   <p class="read-more-wrap">
                        In today’s hustle-bustle, most of us don’t have the time to 
                        spend on ourselves. Meditation is a key requirement for 
                        everyone today, and we help you 
                        
                        <span class="read-more-target">
                            in choosing the right programs,
                        if you are planning to go for some counseling and meditation. 
                        </span> 
                    </p>

                    <label for="post-1-medi" class="read-more-trigger"></label>
                  </div>  
              </div>  
          </div>
    
    
    
            <div id="servo" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
                  <div id="serviceImage" class="mt-sm-4 col-lg-4 images">
                    <img class=""  src="../../assets/images/investment and finance.png" alt="services image 2">
                  </div>
                  <div class="col-md-8 col-lg-8 text"> 
                    <h4 class="text-primary lead">Investment and Finance</h4>

                <div>  
                  <input type="checkbox" class="read-more-state" id="aaa"/>
                    <p class="read-more-wrap"> 
                          We support you to handle your finance and plan an ideal 
                          investment both as an asset and safety for your life. 
                          We assist you directly or indirectly and we assure you that 
                         
                          <span class="read-more-target">
                              it would be 
                              a Profitable ROI. 
                              It might be real estate project 
                              irrespective of cities across the globe, Financial schemes, 
                              Investing in Startups, Investing in Shares of different listed 
                              companies, Investing money on any commercial valued projects like 
                              concept events or it might even be funding towards film making.
                          </span>
                    </p>
                    

                    <label for="aaa" class="read-more-trigger"></label>

                  </div>  
                  </div>
            </div>

  </div>
  
</div>






   <!-- 4th Row Start -->
   <div class="row mb-4">
    <div class="mb-4 d-flex flex-row-lg flex-wrap"> 
          
          <div id="serv" class="mb-lg-5 col-md-6 col-lg-6 d-flex box-shadow p-2">
                <div id="serviceImage" class="mt-md-4 col-md-4 col-lg-4 images">
                  <img src="../../assets/images/recruitment and training.png" alt="services image 3">
                </div>
                <div class="col-md-8 col-lg-8 text">
                  <h4 class="text-primary lead">Recruitment and Trainings</h4>
                  <p>  Looking for a job?
                      We support you in finding a good position in society and making your life secure. We assist you directly or indirectly, but one thing we assure you that it would make you think differently.
                   </p>
                </div>
          </div>

          <div id="servo" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
            <div id="serviceImage" class="mt-lg-4 col-md-4 col-lg-4 images">
                <img src="../../assets/images/wedding and services.png" alt="services image 4">
            </div>
            <div class="col-md-8 col-lg-8 text">
                <h4 class="text-primary lead">Matrimony & Wedding Services</h4>
                <div>

                    <input type="checkbox" class="read-more-state" id="post-1-matrimony" />

                    <p class="read-more-wrap">The secret to a happy marriage is finding the right 
                      person. We are here to make your marriage a very happy 
                      one! We help you search for an ideal life 

                      <span class="read-more-target">
                          partner of your 
                          choice with
                          a good family background. We would also be 
                          assisting you in finding a good wedding planner or wedding 
                          services.
                      </span>  

                    </p>
                    <label for="post-1-matrimony" class="read-more-trigger"></label>
                </div>
            </div>  
        </div>
         

    </div>
    
 </div>
 <!-- 4th Row End -->




 <div class="row mb-4">
  <div class="mb-4 d-flex flex-row-lg flex-wrap"> 
        
    
       
    
    
        <div id="serv" class="mb-lg-5 col-md-6 col-lg-6 d-flex  box-shadow p-2">
              <div id="serviceImage" class="mt-lg-4 col-md-4 col-lg-4 images">
                <img src="../../assets/images/astrology and forecast 1.png" alt="services image 2">
              </div>
              <div class="col-md-8 col-lg-8 text"> 
                <h4 class="text-primary lead">Astrology & Forecast</h4>
                <div>

                    <input type="checkbox" class="read-more-state" id="post-astro" />
      
                    <p class="read-more-wrap">
                        What does my future hold? What can I do to make 
                        it better? These are questions that many of us 
                        are interested in. Be it career, health, finances, 
                        family, 
      
                      <span class="read-more-target">
                          we will find the right astrologers to give you all the answers you need!
                      </span>  
      
                    </p>
                    <label style="display: inline; border: none;" for="post-astro" class="read-more-trigger"></label>
                </div>
              </div>
        </div>


        <div id="servo" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
          <div id="serviceImage" class="mt-lg-4 col-md-4 col-lg-4 images">
            <img src="../../assets/images/E-commerce Ebranding.png" alt="services image 3">
          </div>
          <div class="col-md-8 col-lg-8 text">
            <h4 class="text-primary lead">E-commerce, E-Branding & M-Commerce</h4>
            <div>

                <input type="checkbox" class="read-more-state" id="post-branding" />
  
                <p class="read-more-wrap">
                    We help you out in creating a better online 
                    presence and also make you get the target customers 
                    reach  
  
                  <span class="read-more-target">
                      and avail your services. 
                      We facilitate businesses to sell their products/services 
                      online by providing an excellent E-commerce platform.
                  </span>  
  
                </p>
                <label for="post-branding" class="read-more-trigger"></label>
            </div>
          </div>
    </div>




  </div>
  
</div>










 <!-- 5th Row Start -->

 <div class="row mb-4">
  <div class="mb-4 d-flex flex-row-lg flex-wrap"> 
       
       
        <div id="servo" class="col-md-6 col-lg-6 d-flex box-shadow p-2">
              <div id="serviceImage" class="mt-md-4 col-md-4 col-lg-4 images">
                  <img src="../../assets/images/short flims and Movies.png" alt="services image 4">
              </div>
              <div class="col-md-8 col-lg-8 text">

                  <h4 class="text-primary lead">Short Films & Movies</h4>
                
                  

                  <div>
                      <input type="checkbox" class="read-more-state" id="post-1" />
                    
                      <p class="read-more-wrap">We support you in finding a financier or investor 
                          for your movie projects and also  help you to reach 
                          out to the connects in the film industry, if you 
                          are looking  
                          <span class="read-more-target">
                              for an artist for your movie, if you 
                              are interested in playing a role, or as a director, 
                              or if you are searching for script writer or photography 
                              professionals etc. We assure you that it would create a 
                              difference.
                          </span>
                      </p>
                      
                      <label for="post-1" class="read-more-trigger"></label>
                    </div>

                
              </div> 
              
              
        </div>

  </div>
  
</div>
<!-- 5th Row End -->


  
  <!-- <div>
    <input type="checkbox" class="read-more-state" id="post-2" />
  
    <ul class="read-more-wrap">
      <li>lorem</li>
      <li>lorem 2</li>
      <li class="read-more-target">lorem 3</li>
      <li class="read-more-target">lorem 4</li>
    </ul>
    
    <label for="post-2" class="read-more-trigger"></label>
  </div> -->

  </div>

</section>














